# Created by .ignore support plugin (hsz.mobi)
build/
*.iml
.gradle/
.idea/
local.properties
gradlew
gradlew.bat
epicapp_war/target/
epicapp_ear/target/
projectFilesBackup/
.DS_Store
.settings
target
.classpatha
.project
*.iws
*~
*.bak
*.log
bin
coverage
coverage.ec
coverage.em
gen
atlassian-ide-plugin.xml
junit-report.xml
lint-results.*ml
lint-results_files
.svn
proguard/
cd.bat
build.bat
lint.xml
